:root{
  font-size:20px;
  font-family: sans-serif;
}

*{
  margin:0;
  padding:0;
}

body{
  max-width:100%;
  color: #212121;
  display:flex;
  flex-direction: column;
  height:100vh;
}

.char{
  display:block;
  width:4rem;
  line-height:4em;
  height:4em;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  background: #D6D6D6;
}
.char:active{
  background: #FCD25C;
}
.char.mandatory{
  background-color: #FCD25C
}
.char.mandatory:active{
  background: #F89E66;
}

.charGrid{
  max-width: 100%;
  display:flex;
  flex-wrap: wrap;
  gap:10px;
  justify-content: center;
}

#word{
  max-width: 100%;
  margin-top:0.5em;
  min-height:1.5em;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
}

error{
  display: block;
  color: red;
  width:100%;
  text-align: center;
  min-height:2em;
}

.foundWords{
  max-width: 100%;
  margin:1rem 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.6rem;
}

.foundWords word{
  display: inline-block;
  padding:6px;
  margin: 5px;
  font-style: italic;
  text-transform: capitalize;
  background: #f2f2f2;
  border-radius: 5px;
}

win{
  max-width:100%;
  display:none;
  color:green;
  padding:1rem;
  text-align: center;
}
#tierRange{
  pointer-events: none;
  background-color: red;
  position:relative;
}

#tierRange:after{
  position:absolute;
  top: 100%;
  content:attr(data-label);
  color: #FCD25C;
  font-weight: bolder;
}

actionGroup{
  width:100%;
  margin:10px 0;
  display:flex;
  justify-content: space-around;
}

action{
  display:block;
  width:3rem;
  height:3rem;
  line-height:3rem;
  vertical-align: center;
  color:white;
  text-align: center;
  background-color:#343436;
  text-transform: uppercase;
  font-weight:bold;
  font-size: 1.4rem;
}

loading{
  width:100%;
  max-width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background-color: #FCD25C;
}

interact{
  position: fixed;
  bottom:0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

reference{
  font-size:0.5rem;
  display: none
}

reference.show{
  opacity:0.6;
  display:block
}