@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Anton&family=Raleway:ital,wght@1,700&family=Roboto+Slab:wght@200;300&display=swap');

:root{
  font-family: "ABeeZee", sans-serif;
  font-size: 6vw;
  font-family: sans-serif;
  --yellow: #FCD25C;
  --gray: #e6e6e6;
  --dark: #343437;
  --orange: rgb(252, 188, 92);
  --reddish: #f76257;
}

*{
  margin:0;
  padding:0;
}

body{
  max-width:100%;
  color: var(--dark);
  display:flex;
  flex-direction: column;
  height:100vh;
}

.char{
  --full-size: 20vw;
  --half-size: calc(var(--full-size) / 2);
  --quarter-size: calc(var(--full-size) / 4);
  --custom-size: calc(var(--half-size) * 0.65);
  --color: var(--gray);
  display: block;
  width: var(--full-size);
  line-height: var(--half-size);
  height: var(--half-size);
  text-align: center;
  text-transform: uppercase;
  background: var(--color);
  position: relative;
  margin-bottom: var(--custom-size);
}

.char:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: var(--custom-size) solid var(--color);
    border-left: var(--half-size) solid transparent;
    border-right: var(--half-size) solid transparent;
    position: absolute;
    bottom: 100%;
    left:0;
}


.char:after {
    content: "";
    width: 0;
    position: absolute;
    top: 100%;
    left:0;
    border-top: var(--custom-size) solid var(--color);
    border-left: var(--half-size) solid transparent;
    border-right: var(--half-size) solid transparent;
}

.char:active,
.char:active:before,
.char:active:after{
  --color: #FCD25C;
}
.char.mandatory,
.char.mandatory:before,
.char.mandatory:after{
  --color: #FCD25C
}
.char.mandatory:active,
.char.mandatory:active:before,
.char.mandatory:active:after{
  
  --color: var(--orange);
}

.charGrid{
  max-width: 100%;
  display:flex;
  flex-wrap: wrap;
  gap:0.5rem;
  justify-content: center;
  margin: 1.5rem 0;
}

#word{
  max-width: 100%;
  overflow: hidden;
  margin-top: 1em;
  min-height:1.5em;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
}

error{
  display: block;
  color: var(--reddish);
  width:100%;
  text-align: center;
  font-size: 0.8rem;
  min-height:2em;
}

.foundWords{
  max-width: 100%;
  padding: 0.5rem;
  margin:1rem 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.5rem;
}

.foundWords word{
  display: inline-block;
  padding:6px;
  margin: 5px;
  font-style: italic;
  text-transform: capitalize;
  background: #f2f2f2;
  border-radius: 5px;
}

win{
  max-width:100%;
  display:none;
  color:green;
  padding:1rem;
  text-align: center;
}

actionGroup{
  width:100%;
  margin:1rem 0;
  display:flex;
  justify-content: space-around;
}

action{
  display:block;
  text-align: center;
  text-transform: uppercase;
  font-weight:bold;
  font-size: 0.6rem;
  border: 1px solid var(--gray)
}
action:active{
  opacity:0.7;
}

loading{
  width:100%;
  max-width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background-color: var(--yellow);
  font-size: 0.5rem;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

loading.failed{
  background-color: var(--reddish);
  transition: background-color 0.7s;
}

loadding.failed #retries{
  animation: fadeup 2s 0 ;
}

loading.failed img{
  display: none;
}

loading img{
  width: 150px;
  flex-shrink: 0;
}

interact{
  position: fixed;
  bottom:0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

reference{
  font-size:0.5rem;
  display: none
}

reference.show{
  opacity:0.6;
  display:block
}

#counters{
  font-style: italic;
  padding:10px 10px 15px;
  display: flex;
  font-size: 0.85rem;
  justify-content: space-between;
}

#counter, #letters{
  position:relative;
}
#counter:after{
  content:"palavras";
}
#letters:after{
  content:"pontos";
}
#counter:after,
#letters:after{
  font-size:0.5em;
  position:absolute;
  top:100%;
  left:50%;
  transform:translate(-50%);
  line-height: 1em;
  width:max-content;
  text-align: center;
}

#tiers{
  width:100%;
  background:green;
  display:flex;
  background: #efefef;
  justify-content:center;
  position: relative;
  height:10px;
}

tier{
  display: block;
  background-color: var(--yellow);
  width:1px;
}

tier.active{
  transition: width 0.3s 0.3s ease-in;
}

tier.active + next{
  transition: width 0.5s ease-in-out;
}

next{
  width:1px;
  height:100%;
  background: var(--yellow);
  opacity:0.4;
  position: absolute;
}

#tierLabel{
  position:absolute;
  bottom: calc(100% + 0.5rem);
  color: var(--yellow);
  font-weight: bolder;
}

score{
  font-size:1.5rem;
  font-weight: bold;
  color: var(--orange);
  animation: fadeup 0.6s ease-in;
  animation-fill-mode: forwards;
  position:absolute;
}

@keyframes fadeup{
  from{
    top: 50%;
    opacity:100%;
    transform: scale(1.2)
  }
  to{
    top:-100%;
    opacity: 0;
    transform: scale(0.5)
  }
}